dtd1.dtd

<!ELEMENT minecraftItems (item+)>
<!ELEMENT item (id, name, type, rarity, damage?, description)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT rarity (#PCDATA)>
<!ELEMENT damage (#PCDATA)>
<!ELEMENT description (#PCDATA)>

<!ATTLIST minecraftItems lang CDATA #REQUIRED>
<!ATTLIST type
    values (arma | herramienta | bloque) #REQUIRED>
<!ATTLIST rarity
    values (común | raro | épico) #REQUIRED>
