dtd3.dtd

<!ELEMENT partida (jugadores, turnos)>
    
<!ELEMENT jugadores (jugador+)>
<!ELEMENT jugador (nombre, simbolo)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT simbolo (#PCDATA)>
    
<!ELEMENT turnos (turno+)>
<!ELEMENT turno (jugador, posicion)>
<!ELEMENT jugador (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>
    
<!ATTLIST turno num ID #REQUIRED>
